html{
    max-width: 1600px;
}
body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0px;
}


.menu{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: black;
    height: 80px;
    color: white;
    font-family: Roboto;
}

.left{
    margin-left: 59px;
}

.right{
    margin-right: 1275px;
}
.blockMainPanda {
    height: 780px;
    z-index: -1;
}

a{
    color: white;

}
/* убрал подчеркивание ссылки */
a:link { text-decoration: none; }

.logo{
    border: 1px solid white;
    border-radius: 1px;
}

.firstview{
    position: absolute;

}
img{
    max-width: 100%;
}